

div {font-family: Garamond, Arial;}

body {background-color: #339933;}

#header {
	text-align: center;
	margin-bottom: 60px;
	font-size: 32pt;
	font-weight: bold;
	color: #E6E600;
 }

#content {
	margin: auto;
	padding: 100px;
	max-width: 600px;
	background-color: #70B870;
 }

.thing_header {
	display: table;
	width: 600px;
	font-weight: bold;
	color: #E6E600;
 }

.date {
	display: table-cell;
	width: 80%;
 }

.status {
	display: table-cell;
	text-align: right;
 }

.thing {
	position: relative;
	display: flex;
	width: 100%;
	border: 2px solid black;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	font-size: 20pt;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #C2E0C2;
 }

.hteam, .ateam {min-width: 216px;}

.hscore, .ascore {
	min-width: 80px;
	font-size: 28pt;
	border: 1px solid white;
	padding: 2px;
 }

